/*common sheard styles*/
body{
   color:black;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#77fd0a;
}
.btn-primary{
    border-radius: 5px;
    background: #edebea;
    border: 0;
    color: brown;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 20px;
}
/*nav related styles*/

nav{
    display: flex; 
   /* justify-content: space-between;*/
   align-items: center;
}
.nav-title {
    color:#1ad344;
    font: size 100px;;
    font-weight:800;
    }
nav > ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav li{
    list-style: none;
    margin-right:40px;
    align-items: center;
}
nav a{
    text-decoration:none;
    color:beige;
}
.header{
background-color:#b55414;
}

